<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
		<meta charset="utf-8">
		<title>E-Patient</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<link href="{% static 'user/img/favicon.png' %}" rel="icon">
		<link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/style.css' %}">
	</head>
	<body>
		<div class="main-wrapper">
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'home' %}" class="navbar-brand logo">
							<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:90px;height:60px">

						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{% url 'home' %}" class="menu-logo">
								<img src="{% static 'user/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="{% url 'dashboard_for_patient' %}">Home</a>
							</li>
							<li class="has-submenu">
								<a href="#">Search <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'search_dr' %}">Search Doctor</a></li>
									<li><a href="{% url 'patient_search_appoinment' %}">Search Appointment</a></li>
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="#"> Doctor Appointment <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'patient_appoinment' %}">Pending Appointment</a></li>
									<li><a href="{% url 'patient_confirmed_appoinments' %}">Upcoming Appointment</a></li>
									<li><a href="{% url 'history_p_appointment' %}">History of Appointment</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Invoices <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'dr_appointments_all' %}">Doctor & Medical Invoices</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header">{{request.user.patient_set.all.0.mobile_no}}</p>
							</div>
						</li>
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									{% if request.user.patient_set.all.0.image %}
									<img class="rounded-circle" src="{{request.user.patient_set.all.0.image.url}}" width="31" alt="Ryan Taylor">
									{% endif %}
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										{% if request.user.patient_set.all.0.image %}
										<img src="{{request.user.patient_set.all.0.image.url}}" alt="User Image" class="avatar-img rounded-circle">
										{% endif %}
									</div>
									<div class="user-text">
										<h6>{{request.user.first_name}}</h6>
										<p class="text-muted mb-0">Patient</p>
									</div>
								</div>
								<a class="dropdown-item" href="{% url 'dashboard_for_patient' %}">Dashboard</a>
								<a class="dropdown-item" href="{% url 'profile_for_patient' %}">Profile Settings</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
					</ul>
				</nav>
			</header>


{% block body %}
{% endblock %}

			<footer class="footer">
                <div class="footer-bottom">
					<div class="container-fluid">
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a>© Designed By Hanieh Moghaddasi, Babanjot Singh, Jaskirat Brar </a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a>Humber College</a></li>
											<li><a>2023-24</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="{% static 'user/js/jquery.min.js' %}"></script>
		<script src="{% static 'user/js/popper.min.js' %}"></script>
		<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'user/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'user/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		<script src="{% static 'user/js/script.js' %}"></script>
	</body>

</html>
